<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.dy.myboot.dao.UserDaoInterface">
    <insert id="insert" useGeneratedKeys="true" keyProperty="id" parameterType="com.dy.myboot.model.User">
        INSERT INTO t_user (userName, password, phone) VALUES (#{userName}, #{password}, #{phone})
    </insert>
</mapper>
